@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1C7790;
  --color-primary-dark: #145A6E;
  --color-primary-light: #E6F1F4;
  --color-accent: #E58B6B;
  --color-accent-dark: #C96A4A;
  --color-accent-light: #FDF3EE;
  --color-surface: #D4B895;
  --color-surface-light: #EFE6D8;
  --color-background: #F7F9F9;
}

body {
  background-color: var(--color-background);
}

.custom-scrollbar {
    scrollbar-width: thin;
    -ms-overflow-style: none;
  
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.4);
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

  }


.dashboard-mobile-menu-button {
  display: none;
}
@media (max-width: 767px) {
  .dashboard-mobile-menu-button {
    display: block;
  }
}
@media (max-width: 767px) {
  aside {
    display: none;
  }
}
